* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Rye', cursive;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #fb960a;
    border-radius: 3rem;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.div-poster-home {
    display: flex;
    justify-content: center;
    width: 100%;
}

.poster-home {
    width: 600px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    
    padding-top: 3%;
}

.game-text {
    display: flex;
    width: 50%;
}

.game-text-cormano-ending {
    display: flex;
    align-items: center;
    width: 50%;
}

.game-img {
    display: flex;
}

#game-img-steve-3 {
    width: 450px;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
}

.characters h3 {
    padding-top: 20%;
}

.img-properties {
    width: 70%;
    border-radius: 5px;
}

.img-properties:hover {
    transform: scale(1.02, 1.02);
}

#div-play-button {
    padding-top: 1%;
    padding-bottom: 5%;
}

.play-button {
    width: 120px;
    height: 30px;
    font-size: larger;
    background-color: #c12a38;
    border: none;
    border-radius: 7px;
    color: #f69803;
}

.play-button:hover {
    transform: scale(1.2, 1.2);
}

.fixed-footer {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
}

.characters-footer {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    position: fixed;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}